

@{
    var username = "Nadina";

    Layout = "~/Views/Shared/_UserSharedTopMenu.cshtml";
}

<h2>Index User View</h2>
<h3>  @username</h3>


<script type="text/javascript">
    $(document).ready(function () {
        console.log("document ready");
        $('#bulb').css("color", "white");
        $('#curtains').css("color", "white");

        var houseId = "CE61F280-E5F7-45A4-904A-0D2E02EE6A79";
        var responseObj = [];
        var deviceName;
        $.ajax({
            type: "POST",
            url: '/Device/GetRoomsAndDevicesByHouseId',
            dataType: 'json',
            data: {
                'val': houseId,
                

            },
            success: function (response) {
                console.log("Success");
                console.log(response);

                for (var i = 0; i < response.length; i++) {


                    for (var j = 0; j < response[i].RoomDevices.length; j++) {
                        console.log(" Devicetype: " +response[i].RoomDevices[j].DeviceType);
                        console.log("StatusId: " +response[i].RoomDevices[j].StatusId);
                        if ((response[i].RoomDevices[j].DeviceType ==1) && (response[i].RoomDevices[j].StatusId) == 3)  //device is light and light is on
                        {
                            console.log("llklkl");
                            $('#bulb').css("color", "yellow");      //change the main bulb color to yellow

                        }
                        else if ((response[i].RoomDevices[j].DeviceType == 2) && (response[i].RoomDevices[j].StatusId) == 1)  //device is curtain and curtain is opened
                        {
                            console.log("llklkl");
                            $('#curtains').css("color", "purple");      //change the main curtain pict color to purple

                        }

                    }
                   
                }


            },
            error: function (obj, textstatus) {
                console.log("Error js");
                console.log(houseId);

            }

        });



    });
</script>

