@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "UserProfile";
}
<script src="https://code.jquery.com/jquery-1.8.3.min.js"></script>
<h2>Profile</h2>
<form action"" name="countryReg">
    <label for="Country">Country</label>
    <input type="text" name="countryName" id="countryName" placeholder="Write country here" />
</form>
<button id="submitbutton">Click me</button>

<script type="text/javascript">

    $(document).ready(function () {

        function saveCountry() {
            //var val = JSON.stringify('{ "country": "Japan"}');
            //var val = JSON.parse('{ "country": "Japan"}');
            var dict = [];
            dict.push({
                key: "country",
                value: "Japan"
            });
            //var val = SerializeJSON(dict);

            //var val = JsonConvert.SerializeObject(dict, Formatting.Indented);
            var val = "{ \"country\": \"Japan\"}";
            alert(val);

            $.ajax({
                type: "POST",
                url: "/User/sendData",
                dataType: "json",
                data: { val }
            }).done(function (response) {
                var res = response;
                alert("Response: " + res);
            }).fail(function (response) {
                console.log("Ajax failed")
            })
        } // End of save country

        document.getElementById("submitbutton").addEventListener("click", saveCountry);


    } // Document ready ends
    );
</script>
