@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "UserProfile";
}
<script src="https://code.jquery.com/jquery-1.8.3.min.js"></script>
<h2>Profile</h2>
<p id="thetext">Hallo</p>
<form action"" name="countryReg">
    <label for="Country">Country</label>
    <input type="text" name="countryName" id="countryName" placeholder="Write country here" />
</form>
<button id="getUsersButton">Get all users</button>
<input id="inputbox" />
<button id="deleteuser">Delete user</button>
<button id="adduser">Add hardcoded user</button>

<input id="inputbox2" />
<button id="getdevices">GetAllDevices</button>

<input id="inputbox3" />
<button id="getdevicesbyhouseid">GetAllDevicesForAHouseId</button>

<button id="edituserbutton">Edit user</button>
<button id="getdevicesbyhouseidbutton">GetRoomsAndDevicesByHouseId</button>



<script type="text/javascript">

    $(document).ready(function () {

        function save() {
            var t = document.getElementById("thetext");
            //var val = JSON.stringify('{ "country": "Japan"}');
            //var val = JSON.parse('{ "country": "Japan"}');
            //var mylist = List<KeyValuePair<K,V>>;
            var myDictionary = {
                "firstname" : "Lily",
                "lastname" : "Baba",
                "phonenumber" : "777777",
                "houseid": "CE61F280-E5F7-45A4-904A-0D2E02EE6A78",
                "username" : "fwef",
                "email" : "lilypad@gmail.com",
                "isadmin" : "false"
            };

            var val = JSON.stringify(myDictionary);
            console.log("String: " + val);

            $.ajax({
                type: "POST",
                url: "/User/CreateUser",
                data: { val }
            }).done(function (response) {
                var res = response;
                //document.getElementById("p").textContent += " this has just been added";
                t.textContent += "Response: " + response;
                alert("Response: " + res);
            }).fail(function (response) {
                console.log("Ajax failed")
            })
        } // End of save

        document.getElementById("adduser").addEventListener("click", save);

        function getUsers() {
            document.getElementById("thetext").textContent = "-----------";
            var val = JSON.stringify("yay");
            $.ajax({
                type: "POST",
                url: "/User/GetAllUsers",
                data: { val }
            }).done(function (response) {
                var res = response;
                document.getElementById("thetext").textContent += response;
                
            }).fail(function (response) {
                console.log("Ajax failed")
            })
        } // End ofget users

        document.getElementById("getUsersButton").addEventListener("click", getUsers);

        function deleteuser() {
            var value = document.getElementById('inputbox').value;
            var val = JSON.stringify(value);
            alert(val);
            $.ajax({
                type: "POST",
                url: "/User/DeleteUser",
                data: { val }
            }).done(function (response) {
                var res = response;
                document.getElementById("thetext").textContent += response;
                alert("Done!");
            }).fail(function (response) {
                console.log("Ajax failed")
            })
        } // End of delete users

        document.getElementById("deleteuser").addEventListener("click", deleteuser);

        function getDevices() {
            document.getElementById("thetext").textContent = "Devices: ";
            var val = JSON.stringify("yay");
            $.ajax({
                type: "POST",
                url: "/Device/GetAllDevices",
                //data: { val }
            }).done(function (response) {
                var res = response;
                console.log(res);
                document.getElementById("thetext").textContent += response;

            }).fail(function (response) {
                console.log("Ajax failed")
            })
        } // End ofget users

        document.getElementById("getdevices").addEventListener("click", getDevices);

        function getDevicesByHouseId() {
            document.getElementById("thetext").textContent = "Devices: ";
            var value = document.getElementById('inputbox3').value;
            var val = JSON.stringify(value);
            $.ajax({
                type: "POST",
                url: "/Device/GetAllDevicesByHouseId",
                data: { val }
            }).done(function (response) {
                var res = response;
                console.log(res);
                document.getElementById("thetext").textContent += response;

            }).fail(function (response) {
                console.log("Ajax failed")
            })
        } // End ofget users

        document.getElementById("getdevicesbyhouseid").addEventListener("click", getDevicesByHouseId);

        function edituser() {
            var t = document.getElementById("thetext");
            //var val = JSON.stringify('{ "country": "Japan"}');
            //var val = JSON.parse('{ "country": "Japan"}');
            //var mylist = List<KeyValuePair<K,V>>;
            var myDictionary = {
                "userid": '62EADAFE-7E68-4AC1-95E9-55BE39EA35F9',
                "firstname": "Lily",
                "lastname": "Babababaramm",
                "phonenumber": "777777",
                "houseid": "CE61F280-E5F7-45A4-904A-0D2E02EE6A78",
                "username": "LLLLL",
                "email": "lilypadbabbara@gmail.com",
                "isadmin": "false"
            };

            var val = JSON.stringify(myDictionary);
            console.log("String: " + val);

            $.ajax({
                type: "POST",
                url: "/User/EditUser",
                data: { val }
            }).done(function (response) {
                var res = response;
                //document.getElementById("p").textContent += " this has just been added";
                t.textContent += "Response: " + response;
                alert("Response: " + res);
            }).fail(function (response) {
                console.log("Ajax failed")
            })
        } // End of edit user

        document.getElementById("edituserbutton").addEventListener("click", edituser);

        //GetRoomsAndDevicesByHouseId
        function GetRoomsAndDevicesByHouseId() {
            var val = JSON.stringify("CE61F280-E5F7-45A4-904A-0D2E02EE6A79");
            $.ajax({
                type: "POST",
                url: "/Device/GetRoomsAndDevicesByHouseId",
                data: { val }
            }).done(function (response) {
                var res = response;
                console.log(res);
                document.getElementById("thetext").textContent += response;

            }).fail(function (response) {
                console.log("Ajax failed")
            })
        } // End ofget users

        document.getElementById("getdevicesbyhouseidbutton").addEventListener("click", GetRoomsAndDevicesByHouseId);



    } // Document ready ends
    );
</script>
