
@{
    Layout = "~/Views/Shared/_AdminLeftSidebar.cshtml";
}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>


<!------ Include the above in your HEAD tag ---------->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>



<script type="text/javascript">
    $(document).ready(function () {

        var userId;
        var houseId;

        $.ajax({
            type: "POST",
            url: '/Device/GetAllDevices',
            dataType: 'json',
            data: {

            },


            success: function (response) {

                $('#DeviceDataTable').DataTable({
                    data: response,
                    columns: [
                        { data: 'DeviceId' },
                        { data: 'DeviceName' },
                        { data: 'DeviceType' },
                        { data: 'IsOnline' },
                        { data: 'Room' },
                        { data: 'RoomId' },
                        { data: 'StatusId' },


                    ]
                }
                );
                console.log("Success Devices");

                console.log(response);

            },
            error: function (obj, textstatus) {
                console.log("Error js");

            }

        });

        //script to click on the device table and fetch device by clicked row id
        $('#DeviceDataTable').on('click', 'tbody tr', function () {

            var deviceTable = $('#DeviceDataTable').dataTable();
            var currentRowData = deviceTable.api().row(this).data();
            var deviceId = currentRowData.DeviceId;
            var deviceName = currentRowData.DeviceName;
            $('#deviceName').html(deviceName);
            $('#newModal1').modal('show');

            console.log(deviceId);

            //function to get user acount ID by device id
            $.ajax({
                type: "POST",
                url: '/User/GetUserByDeviceId',
                dataType: 'json',
                data: {
                    'deviceId': deviceId,

                },


                success: function (response) {
                    console.log("Success");
                    userId = response;
                    getUser(userId);

                },
                error: function (obj, textstatus) {
                    console.log("Error js");

                }
            });

            // function to receive full account info by userId
            function getUser(userId) {
                $.ajax({
                    type: "POST",
                    url: '/User/GetUser',
                    dataType: 'json',
                    data: {
                        'val': userId,

                    },


                    success: function (res) {
                        console.log("Get User by Id ");

                        console.log(res);
                        houseId = res.HouseId;
                        console.log("houseId " + houseId);
                        getAllDevicesByHouseId(houseId);


                    },
                    error: function (obj, textstatus) {
                        console.log("Error js");

                    }

                })
            };



            






        })

        function getAllDevicesByHouseId(houseId) {
            // function to receive all devices for account by houseId if account if received

            $.ajax({
                type: "POST",
                url: '/Device/GetAllDevicesByHouseI1d',
                dataType: 'json',
                data: {
                    'val': houseId,
                },
                success: function (res1) {
                    console.log("Get All devices by House Id 1: ");
                    console.log(res1);
                },
                error: function (obj, textstatus) {
                    console.log("Error js");

                }

            })
        }
    })



</script>



<h2>AdminDevices</h2>
<div>
    <table id="DeviceDataTable" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Device Id</th>
                <th>Device Name</th>
                <th>Device Type</th>
                <th>Is Online</th>
                <th>Room</th>
                <th>Room Id</th>
                <th>Status Id</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>


<!-- Modal 2 for display device  -->
<div class="modal fade" id="newModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-success" role="document">
        <!--Content-->
        <div class="modal-content">
            <div class="modal-header" style="border-bottom: 4px solid #2e77bc; background-color: #f2dede; color: #a94446;">
                <h3 class="modal-title  font-weight-bold" id="DeviceName"></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
            <div style="margin-top: 1px; background-color: #2e77bc; height: 1px; width: 100%;"></div>
            <div class="modal-body">
                <div class="row">

                    <div class="col-xs-6">

                        <ul class="list-unstyled" style="line-height: 2">
                            <li><span class="text-success"><i class="fa fa-database"></i></span> <span style="color: #acacac; font-size: 9pt; text-align: left;">DRH ID</span> <span style="font-size: 9pt; text-align: left;">296</span></li>
                            <li><span class="text-success"><i class="fa fa-desktop"></i></span> <span style="color: #acacac; font-size: 9pt; text-align: left;">Hostname</span> <span style="font-size: 9pt; text-align: left;">BDSPUKL0540543</span></li>
                            <li><span class="text-success"><i class="fa fa-building-o"></i></span> <span style="color: #acacac; font-size: 9pt; text-align: left;">Location Stored</span> <span style="font-size: 9pt; text-align: left;">BKP0203231</span></li>
                            <li><span class="text-success"><i class="fa fa-user"></i></span> <span style="color: #acacac; font-size: 9pt; text-align: left;">User</span> <span style="font-size: 9pt; text-align: left;">Test User</span></li>

                            <a href="#"><span class="label label-primary">View Spring record</span></a>
                            <a href="#"><span class="label label-primary">View on EIP</span></a>

                            <div style="margin-top: 8px; margin-bottom: 8px; width: 100%; height: 1px; background-color: #d9d9d9;"></div>
                            <li><span style="color: #acacac; font-size: 8pt; text-align: left;">Staff Number</span> <span style="font-size: 8pt; text-align: left;">B0834933</span></li>
                            <li><span style="color: #acacac; font-size: 8pt; text-align: left;">Employment Status</span> <span style="font-size: 8pt; text-align: left;">Current</span></li>
                            <li><span style="color: #acacac; font-size: 8pt; text-align: left;">Login ID</span> <span style="font-size: 8pt; text-align: left;">broyTest</span></li>
                            <li><span style="color: #acacac; font-size: 8pt; text-align: left;">Department</span> <span style="font-size: 8pt; text-align: left;">Test Department</span></li>


                        </ul>
                    </div>
                    <div class="col-xs-6">
                        <div class="well">
                            <div style="color: #acacac; font-size: 9pt; text-align: center; padding: 0px; margin-bottom: 6px;">Engineer Actions</div>
                            <button type="submit" class="btn btn-success btn-block"><i class="fa fa-building-o"></i> Change Location</button>
                            <button type="submit" class="btn btn-success btn-block"><i class="fa fa-refresh"></i> Reclaim / Replace</button>
                            <button type="submit" class="btn btn-warning btn-block"><i class="fa fa-warning"></i> Report Discrepancy</button>
                            <div style="color: #acacac; font-size: 9pt; text-align: center; padding: 0px; margin-bottom: 6px; margin-top: 6px;">Admin Actions</div>
                            <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-arrow-down"></i> Drop In</button>
                            <a href="/forgot/" class="btn btn-primary btn-block"><i class="fa fa-search"></i> CFI</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-header alert-primary">
                <h3 class="modal-title alert-heading font-weight-bold" id="title"></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>
