
@{
    ViewBag.Title = "Curtains";
}

<script src="https://code.jquery.com/jquery-1.8.3.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        var str;


        //Function for turning the light on
        $('#btnOpen').on('click', function () {
            $.ajax({
                // type: "GET",
                url: '/Device/TurnCurtainsOpen',
                dataType: 'json',
                context: document.body
            }).success(function (data) {
                mesg = data.message;
                console.log(mesg);
            }).fail(function (data) {
                console.log("Curtains fail");
            })
        });

        //Function for turning the light off
        $('#btnclosed').on('click', function () {

            $.ajax({
                // type: "GET",
                url: '/Device/TurnCurtainsClosed',
                dataType: 'json',
                context: document.body
            }).success(function (data) {
                mesg = data.message;
                console.log(mesg);
            })
            .fail(function (data) {
                console.log("Curtains fail");
            })
        });

        //Function for showing the status of the light
        var x = function () {
            $.getJSON("https://cloud.arest.io/light_id1/digital/2/", function (data) {
                var isOnOrOff = data.return_value;
                if (isOnOrOff == 1) {
                    str = "Curtains is Closed";
                }
                else if (isOnOrOff == 0) {
                    str = "Curtains is Open";
                }
                else { str = "Not connected"; }
                $("#statusCurtains").html(str);
            });
        }
        //setInterval() method will execute the function once every 1 second
        var test = $("#statusCurtains");
        setInterval(x.bind(null, test), 1000);

    })

</script>

<h2>Curtains</h2>

<p id="Text"> Turn the curtains in open or closed position </p>
<button id="btnOpen" class="btn btn-info"> Open </button>
<button id="btnclosed" class="btn btn-dark"> Closed</button>

<div id="textMessage">
    <p>Status Curtains</p>
    <p id="statusCurtains"></p>
</div>