
<div class="row">
    <div class="col-md-4">
        
        <h2>Light :)</h2>
       <!-- <p>@Html.ActionLink("Light", "Light", "Home")</p> -->
        <button id="btnclear" > @Html.ActionLink("Light", "Light", "Home") </button>


        <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
        a broad range of clients, including browsers and mobile devices. ASP.NET Web API
        is an ideal platform for building RESTful applications on the .NET Framework.</p>
        
    </div>
    <div class="col-md-4">
        <h2>Flow Water </h2>
        <p>@Html.ActionLink("Water","Water", "Home")</p>
      

        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
       
    </div>
    <div class="col-md-4">
        <h2>Curtains Lea</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
    </div>
</div>




