@model SmartEveryDay.Models.WaterModel

@{
    ViewBag.Title = "Water";
    
 }



<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        var rootDir = "@Url.Content("~/")";
        var val = "nadina";

     

        $('#getRemoni').on('click', function () {
            console.log("GetRemoni JS started:");
          
           
       

        $.ajax({
            url: "/Water/getData",
            type: "Get",
            dataType: "json",
            data: {'someId' : val}



        }).done(function (response)
        {
            console.log(response);
            console.log("nadina molodec");
            
           


        }).fail(function (response) {
            console.log("Ajax failed")
        }
        )

        })

    })


</script>



<!-- html part for the page-->
<h2>Water</h2>

<p id="RemoniText"> here will be some text </p>
<button id="btnclear"> Clear </button>
<button id="getRemoni"> Get Remoni</button>

