{"swagger":"2.0","info":{"version":"v1","title":"Remoni API","description":"The ReMoni API provides account related data and management options using HTTP requests. The API attempts to conform to the design principles of Representational State Transfer (REST) and is using JSON data format for request- and response payload. This document is intended for developers with basic REST knockledge","contact":{"name":"ReMoni ApS","url":"https://remoni.com","email":"info@remoni.dk"}},"host":"api.remoni.com","basePath":"/v1","schemes":["https"],"paths":{"/Accounts":{"get":{"tags":["Accounts"],"summary":"Get all Accounts, ReadAccount permission required","operationId":"Accounts_GetCollectionAsyncByqueryOptions","consumes":[],"produces":["application/json"],"parameters":[{"name":"orderby","in":"query","description":"<p><a href='#queryoptions'>Sorts</a> the result in ascending order by the supplied property.</p><p>Valid values are: <strong>AccountId</strong> (default), <strong>Name</strong>.</p><p>Note: <strong>orderby</strong> and <strong>orderbydesc</strong> are mutually exclusive.</p>","required":false,"type":"string","format":"string","default":"AccountId"},{"name":"orderbydesc","in":"query","description":"<p><a href='#queryoptions'>Sorts</a> the result in descending order by the supplied property.</p><p>Valid values are: <strong>AccountId</strong> (default), <strong>Name</strong>.</p><p>Note: <strong>orderby</strong> and <strong>orderbydesc</strong> are mutually exclusive.</p>","required":false,"type":"string","format":"string"},{"name":"top","in":"query","description":"<a href=\"#queryoptions\">Query paging</a> Returns the maximum number of entities. Default and max value is 10000","required":false,"type":"integer","format":"int32","default":10000,"maximum":10000,"minimum":1},{"name":"skip","in":"query","description":"<a href=\"#queryoptions\">Query paging</a> Skips this number of entities","required":false,"type":"integer","format":"int32","minimum":0}],"responses":{"200":{"description":"Account entities response","schema":{"type":"array","items":{"$ref":"#/definitions/ReadAccountDto","title":"Account"}},"headers":{"Link":{"description":"Provides links to current, previous and next for Paged Responses. See the Query Options menu for more details.","type":"string","format":"string"},"X-Total-Count":{"description":"A Paged Response might only include some of the records. This provides the total number of records that exists.","type":"integer","format":"int32"}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/FourZeroZeroError"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/FourZeroOneError"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/FiveZeroZeroError"}}}},"post":{"tags":["Accounts"],"summary":"Create new Account, WriteAccount permission required","operationId":"Accounts_PostAsyncBynewAccount","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded","application/bson"],"produces":["application/json"],"parameters":[{"name":"newAccount","in":"body","description":"The entity to create","required":true,"schema":{"$ref":"#/definitions/WriteAccountDto"}}],"responses":{"201":{"description":"Created","schema":{"type":"object"},"headers":{"Location":{"description":"Provides location for the added entity","type":"string","format":"string"}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/FourZeroZeroError"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/FourZeroOneError"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/FourZeroFourError"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/FiveZeroZeroError"}}}}},"/Accounts/{id}":{"get":{"tags":["Accounts"],"summary":"Get Account by id, ReadAccount permission required","operationId":"Accounts_GetAsyncByid","consumes":[],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Id of entity to retrieve","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Account entities response","schema":{"$ref":"#/definitions/ReadAccountDto"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/FourZeroZeroError"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/FourZeroOneError"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/FourZeroFourError"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/FiveZeroZeroError"}}}},"patch":{"tags":["Accounts"],"summary":"Updates an account","operationId":"Accounts_PatchByiddto","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded","application/bson"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the account","required":true,"type":"integer","format":"int32"},{"name":"dto","in":"body","description":"New account value","required":true,"schema":{"$ref":"#/definitions/WriteAccountDto"}}],"responses":{"204":{"description":"No content","schema":{"type":"object"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/FourZeroZeroError"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/FourZeroOneError"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/FourZeroFourError"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/FiveZeroZeroError"}}}}},"/Accounts/{id}/Users":{"post":{"tags":["Accounts"],"summary":"Grant a user a roll on the account","operationId":"Accounts_PostUserAsyncByiddto","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded","application/bson"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Account Id","required":true,"type":"integer","format":"int32"},{"name":"dto","in":"body","required":true,"schema":{"$ref":"#/definitions/WriteUserRoleDto"}}],"responses":{"204":{"description":"No content","schema":{"type":"object"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/FourZeroZeroError"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/FourZeroOneError"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/FiveZeroZeroError"}}}}},"/Accounts/{id}/Users/{username}/{role}":{"delete":{"tags":["Accounts"],"summary":"Get all Users on an account","operationId":"Accounts_DeleteUserAsyncByidusernamerole","consumes":[],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Account Id","required":true,"type":"integer","format":"int32"},{"name":"username","in":"path","description":"The username(email) of the user to remove","required":true,"type":"string"},{"name":"role","in":"path","description":"The role to remove the user from","required":true,"type":"string","enum":["Administrator","User","ReadOnly"]}],"responses":{"204":{"description":"No content","schema":{"type":"object"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/FourZeroZeroError"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/FourZeroOneError"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/FiveZeroZeroError"}}}}},"/AlarmGroups":{"get":{"tags":["AlarmGroups"],"summary":"Get all AlarmGroups","operationId":"AlarmGroups_GetCollectionAsyncByqueryOptions","consumes":[],"produces":["application/json"],"parameters":[{"name":"orderby","in":"query","description":"<p><a href='#queryoptions'>Sorts</a> the result in ascending order by the supplied property.</p><p>Valid values are: <strong>AlarmGroupId</strong> (default).</p><p>Note: <strong>orderby</strong> and <strong>orderbydesc</strong> are mutually exclusive.</p>","required":false,"type":"string","format":"string","default":"AlarmGroupId"},{"name":"orderbydesc","in":"query","description":"<p><a href='#queryoptions'>Sorts</a> the result in descending order by the supplied property.</p><p>Valid values are: <strong>AlarmGroupId</strong> (default).</p><p>Note: <strong>orderby</strong> and <strong>orderbydesc</strong> are mutually exclusive.</p>","required":false,"type":"string","format":"string"},{"name":"Account.AccountId","in":"query","description":"<p><a href=\"#queryoptions\">Filters</a> the result by Account.AccountId using the supplied operation and value.</p><p>Valid operations are: <strong>eq(int)</strong></p>","required":false,"type":"string","format":"filter"},{"name":"top","in":"query","description":"<a href=\"#queryoptions\">Query paging</a> Returns the maximum number of entities. Default and max value is 10000","required":false,"type":"integer","format":"int32","default":10000,"maximum":10000,"minimum":1},{"name":"skip","in":"query","description":"<a href=\"#queryoptions\">Query paging</a> Skips this number of entities","required":false,"type":"integer","format":"int32","minimum":0}],"responses":{"200":{"description":"AlarmGroup entities response","schema":{"type":"array","items":{"$ref":"#/definitions/ReadAlarmGroupDto","title":"AlarmGroup"}},"headers":{"Link":{"description":"Provides links to current, previous and next for Paged Responses. See the Query Options menu for more details.","type":"string","format":"string"},"X-Total-Count":{"description":"A Paged Response might only include some of the records. This provides the total number of records that exists.","type":"integer","format":"int32"}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/FourZeroZeroError"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/FourZeroOneError"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/FiveZeroZeroError"}}}},"post":{"tags":["AlarmGroups"],"summary":"Create new AlarmGroup","operationId":"AlarmGroups_PostBynewAlarmGroup","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded","application/bson"],"produces":["application/json"],"parameters":[{"name":"newAlarmGroup","in":"body","description":"The entity to create","required":true,"schema":{"$ref":"#/definitions/CreateAlarmGroupDto"}}],"responses":{"201":{"description":"Created","schema":{"type":"object"},"headers":{"Location":{"description":"Provides location for the added entity","type":"string","format":"string"}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/FourZeroZeroError"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/FourZeroOneError"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/FiveZeroZeroError"}}}}},"/AlarmGroups/{id}":{"get":{"tags":["AlarmGroups"],"summary":"Get AlarmGroup by id","operationId":"AlarmGroups_GetAsyncByid","consumes":[],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Id of entity to retrieve","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"AlarmGroup entity response","schema":{"$ref":"#/definitions/ReadAlarmGroupDto"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/FourZeroZeroError"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/FourZeroOneError"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/FourZeroFourError"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/FiveZeroZeroError"}}}},"delete":{"tags":["AlarmGroups"],"summary":"Delete AlarmGroup by id","operationId":"AlarmGroups_DeleteAsyncByid","consumes":[],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Id of entity to delete","required":true,"type":"integer","format":"int32"}],"responses":{"204":{"description":"No content","schema":{"type":"object"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/FourZeroZeroError"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/FourZeroOneError"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/FourZeroFourError"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/FiveZeroZeroError"}}}},"patch":{"tags":["AlarmGroups"],"summary":"Updates an AlarmGroup","operationId":"AlarmGroups_PatchAsyncByidalarmGroup","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded","application/bson"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the AlarmGroup","required":true,"type":"integer","format":"int32"},{"name":"alarmGroup","in":"body","description":"The changes to apply","required":true,"schema":{"$ref":"#/definitions/EditAlarmGroupDto"}}],"responses":{"204":{"description":"No content","schema":{"type":"object"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/FourZeroZeroError"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/FourZeroOneError"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/FourZeroFourError"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/FiveZeroZeroError"}}}}},"/Alarms":{"get":{"tags":["Alarms"],"summary":"Get alarms","description":"It is possible to filter by state","operationId":"Alarms_GetCollectionAsyncByqueryOptions","consumes":[],"produces":["application/json"],"parameters":[{"name":"orderby","in":"query","description":"<p><a href='#queryoptions'>Sorts</a> the result in ascending order by the supplied property.</p><p>Valid values are: <strong>Created</strong> (default).</p><p>Note: <strong>orderby</strong> and <strong>orderbydesc</strong> are mutually exclusive.</p>","required":false,"type":"string","format":"string","default":"Created"},{"name":"orderbydesc","in":"query","description":"<p><a href='#queryoptions'>Sorts</a> the result in descending order by the supplied property.</p><p>Valid values are: <strong>Created</strong> (default).</p><p>Note: <strong>orderby</strong> and <strong>orderbydesc</strong> are mutually exclusive.</p>","required":false,"type":"string","format":"string"},{"name":"Unit.Account.AccountId","in":"query","description":"<p><a href=\"#queryoptions\">Filters</a> the result by Unit.Account.AccountId using the supplied operation and value.</p><p>Valid operations are: <strong>eq(int)</strong></p>","required":false,"type":"string","format":"filter"},{"name":"State","in":"query","description":"<p><a href=\"#queryoptions\">Filters</a> the result by State using the supplied operation and value.</p><p>Valid operations are: <strong>eq(alarmstate)</strong></p><p>state = ['Unresolved', 'Reject', 'Solved', 'Reset', 'AutoResolved']</p>","required":false,"type":"string","format":"filter"},{"name":"top","in":"query","description":"<a href=\"#queryoptions\">Query paging</a> Returns the maximum number of entities. Default and max value is 10000","required":false,"type":"integer","format":"int32","default":10000,"maximum":10000,"minimum":1},{"name":"skip","in":"query","description":"<a href=\"#queryoptions\">Query paging</a> Skips this number of entities","required":false,"type":"integer","format":"int32","minimum":0}],"responses":{"200":{"description":"Alarm entities response","schema":{"type":"array","items":{"$ref":"#/definitions/ReadAlarmDto","title":"Alarm"}},"headers":{"Link":{"description":"Provides links to current, previous and next for Paged Responses. See the Query Options menu for more details.","type":"string","format":"string"},"X-Total-Count":{"description":"A Paged Response might only include some of the records. This provides the total number of records that exists.","type":"integer","format":"int32"}},"examples":{"application/json":[{"AlarmId":2,"Created":"2018-09-20T15:01:35.5820467+00:00","Message":"High power","AlarmSubtype":{"AlarmSubtypeId":1,"Name":"High power","Description":"The power usage is too high","Severity":"Major","AlarmSolution":[{"AlarmSolutionId":1,"Description":"Have you tried turning it off and on again?"}],"UnitType":{"UnitTypeId":1,"Name":"Electric radiator","Description":"Too high power consumption"}},"Unit":{"UnitId":2,"Name":"Electrical radiator","Description":"Electrical radiator for demo purpose","Latitude":55.95,"Longitude":9.72,"GpsAccuracy":2.13,"ImageUrl":"/devices/image.jpg"},"State":"Solved","StateChanged":"2018-09-20T15:05:35.5820467+00:00"}]}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/FourZeroZeroError"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/FourZeroOneError"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/FiveZeroZeroError"}}}}},"/Alarms/{id}":{"get":{"tags":["Alarms"],"summary":"Get alarm","operationId":"Alarms_GetAsyncByid","consumes":[],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the alarm","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Alarm entity response","schema":{"$ref":"#/definitions/ReadAlarmDto"},"examples":{"application/json":{"AlarmId":2,"Created":"2018-09-20T15:01:35.5929404+00:00","Message":"High power","AlarmSubtype":{"AlarmSubtypeId":1,"Name":"High power","Description":"The power usage is too high","Severity":"Major","AlarmSolution":[{"AlarmSolutionId":1,"Description":"Have you tried turning it off and on again?"}],"UnitType":{"UnitTypeId":1,"Name":"Electric radiator","Description":"Too high power consumption"}},"Unit":{"UnitId":2,"Name":"Electrical radiator","Description":"Electrical radiator for demo purpose","Latitude":55.95,"Longitude":9.72,"GpsAccuracy":2.13,"ImageUrl":"/devices/image.jpg"},"UserNote":"Broken radiator hose","State":"Solved","StateChanged":"2018-09-20T15:05:35.5929404+00:00"}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/FourZeroZeroError"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/FourZeroOneError"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/FourZeroFourError"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/FiveZeroZeroError"}}}},"patch":{"tags":["Alarms"],"summary":"Updates an Alarm","operationId":"Alarms_PatchAsyncByidalarm","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded","application/bson"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the alarm","required":true,"type":"integer","format":"int32"},{"name":"alarm","in":"body","description":"The changes to apply","required":true,"schema":{"$ref":"#/definitions/EditAlarmDto"}}],"responses":{"204":{"description":"No content","schema":{"type":"object"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/FourZeroZeroError"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/FourZeroOneError"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/FourZeroFourError"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/FiveZeroZeroError"}}}}},"/Alarms/Feed":{"get":{"tags":["Alarms"],"summary":"Get alarms from the users subscriptions","description":"Retrieves unresolved alarms for all units the authenticated user is subscribed to.","operationId":"Alarms_GetFeedAsyncByqueryOptions","consumes":[],"produces":["application/json"],"parameters":[{"name":"orderby","in":"query","description":"<p><a href='#queryoptions'>Sorts</a> the result in ascending order by the supplied property.</p><p>Valid values are: <strong>Created</strong> (default).</p><p>Note: <strong>orderby</strong> and <strong>orderbydesc</strong> are mutually exclusive.</p>","required":false,"type":"string","format":"string","default":"Created"},{"name":"orderbydesc","in":"query","description":"<p><a href='#queryoptions'>Sorts</a> the result in descending order by the supplied property.</p><p>Valid values are: <strong>Created</strong> (default).</p><p>Note: <strong>orderby</strong> and <strong>orderbydesc</strong> are mutually exclusive.</p>","required":false,"type":"string","format":"string"},{"name":"Unit.Account.AccountId","in":"query","description":"<p><a href=\"#queryoptions\">Filters</a> the result by Unit.Account.AccountId using the supplied operation and value.</p><p>Valid operations are: <strong>eq(int)</strong></p>","required":false,"type":"string","format":"filter"},{"name":"Created","in":"query","description":"<p><a href=\"#queryoptions\">Filters</a> the result by Created using the supplied operation and value.</p><p>Valid operations are: <strong>eq(datetime)</strong>, <strong>ge(datetime)</strong>, <strong>gt(datetime)</strong>, <strong>le(datetime)</strong>, <strong>lt(datetime)</strong></p>","required":false,"type":"string","format":"filter"},{"name":"top","in":"query","description":"<a href=\"#queryoptions\">Query paging</a> Returns the maximum number of entities. Default and max value is 10000","required":false,"type":"integer","format":"int32","default":10000,"maximum":10000,"minimum":1},{"name":"skip","in":"query","description":"<a href=\"#queryoptions\">Query paging</a> Skips this number of entities","required":false,"type":"integer","format":"int32","minimum":0}],"responses":{"200":{"description":"Alarm entities response","schema":{"type":"array","items":{"$ref":"#/definitions/ReadAlarmDto","title":"Alarm"}},"headers":{"Link":{"description":"Provides links to current, previous and next for Paged Responses. See the Query Options menu for more details.","type":"string","format":"string"},"X-Total-Count":{"description":"A Paged Response might only include some of the records. This provides the total number of records that exists.","type":"integer","format":"int32"}},"examples":{"application/json":[{"AlarmId":2,"Created":"2018-09-20T15:01:35.5929404+00:00","Message":"High power","AlarmSubtype":{"AlarmSubtypeId":1,"Name":"High power","Description":"The power usage is too high","Severity":"Major","AlarmSolution":[{"AlarmSolutionId":1,"Description":"Have you tried turning it off and on again?"}],"UnitType":{"UnitTypeId":1,"Name":"Electric radiator","Description":"Too high power consumption"}},"Unit":{"UnitId":2,"Name":"Electrical radiator","Description":"Electrical radiator for demo purpose","Latitude":55.95,"Longitude":9.72,"GpsAccuracy":2.13,"ImageUrl":"/devices/image.jpg"},"State":"Solved","StateChanged":"2018-09-20T15:05:35.5929404+00:00"}]}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/FourZeroZeroError"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/FourZeroOneError"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/FiveZeroZeroError"}}}}},"/AlarmTypes":{"get":{"tags":["AlarmTypes"],"summary":"Get all AlarmTypes, no permission is required","operationId":"AlarmTypes_GetCollectionAsyncByqueryOptions","consumes":[],"produces":["application/json"],"parameters":[{"name":"orderby","in":"query","description":"<p><a href='#queryoptions'>Sorts</a> the result in ascending order by the supplied property.</p><p>Valid values are: <strong>AlarmTypeId</strong> (default), <strong>Name</strong>, <strong>Description</strong>.</p><p>Note: <strong>orderby</strong> and <strong>orderbydesc</strong> are mutually exclusive.</p>","required":false,"type":"string","format":"string","default":"AlarmTypeId"},{"name":"orderbydesc","in":"query","description":"<p><a href='#queryoptions'>Sorts</a> the result in descending order by the supplied property.</p><p>Valid values are: <strong>AlarmTypeId</strong> (default), <strong>Name</strong>, <strong>Description</strong>.</p><p>Note: <strong>orderby</strong> and <strong>orderbydesc</strong> are mutually exclusive.</p>","required":false,"type":"string","format":"string"},{"name":"top","in":"query","description":"<a href=\"#queryoptions\">Query paging</a> Returns the maximum number of entities. Default and max value is 10000","required":false,"type":"integer","format":"int32","default":10000,"maximum":10000,"minimum":1},{"name":"skip","in":"query","description":"<a href=\"#queryoptions\">Query paging</a> Skips this number of entities","required":false,"type":"integer","format":"int32","minimum":0}],"responses":{"200":{"description":"AlarmType entities response","schema":{"type":"array","items":{"$ref":"#/definitions/ReadAlarmTypeDto","title":"AlarmType"}},"headers":{"Link":{"description":"Provides links to current, previous and next for Paged Responses. See the Query Options menu for more details.","type":"string","format":"string"},"X-Total-Count":{"description":"A Paged Response might only include some of the records. This provides the total number of records that exists.","type":"integer","format":"int32"}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/FourZeroZeroError"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/FourZeroOneError"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/FiveZeroZeroError"}}}}},"/AlarmTypes/{id}":{"get":{"tags":["AlarmTypes"],"summary":"Get AlarmType by id, no permission is required","operationId":"AlarmTypes_GetAsyncByid","consumes":[],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Id of entity to retrieve","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"AlarmType entities response","schema":{"$ref":"#/definitions/ReadAlarmTypeDto"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/FourZeroZeroError"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/FourZeroOneError"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/FourZeroFourError"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/FiveZeroZeroError"}}}}},"/AlarmUserNotes":{"get":{"tags":["AlarmUserNotes"],"summary":"Get alarm user notes","operationId":"AlarmUserNotes_GetCollectionAsyncByqueryOptions","consumes":[],"produces":["application/json"],"parameters":[{"name":"orderby","in":"query","description":"<p><a href='#queryoptions'>Sorts</a> the result in ascending order by the supplied property.</p><p>Valid values are: <strong>AlarmUserNoteId</strong> (default).</p><p>Note: <strong>orderby</strong> and <strong>orderbydesc</strong> are mutually exclusive.</p>","required":false,"type":"string","format":"string","default":"AlarmUserNoteId"},{"name":"orderbydesc","in":"query","description":"<p><a href='#queryoptions'>Sorts</a> the result in descending order by the supplied property.</p><p>Valid values are: <strong>AlarmUserNoteId</strong> (default).</p><p>Note: <strong>orderby</strong> and <strong>orderbydesc</strong> are mutually exclusive.</p>","required":false,"type":"string","format":"string"},{"name":"top","in":"query","description":"<a href=\"#queryoptions\">Query paging</a> Returns the maximum number of entities. Default and max value is 10000","required":false,"type":"integer","format":"int32","default":10000,"maximum":10000,"minimum":1},{"name":"skip","in":"query","description":"<a href=\"#queryoptions\">Query paging</a> Skips this number of entities","required":false,"type":"integer","format":"int32","minimum":0}],"responses":{"200":{"description":"Alarm entities response","schema":{"type":"array","items":{"$ref":"#/definitions/ReadAlarmUserNoteDto","title":"AlarmUserNote"}},"headers":{"Link":{"description":"Provides links to current, previous and next for Paged Responses. See the Query Options menu for more details.","type":"string","format":"string"},"X-Total-Count":{"description":"A Paged Response might only include some of the records. This provides the total number of records that exists.","type":"integer","format":"int32"}},"examples":{"application/json":[{"AlarmUserNoteId":2,"Message":"Leaking radiator pipe","AlarmSubtypeId":{"AlarmSubtypeId":2301},"Unit":{"UnitId":18}}]}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/FourZeroZeroError"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/FourZeroOneError"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/FiveZeroZeroError"}}}},"post":{"tags":["AlarmUserNotes"],"summary":"Creates a user note","operationId":"AlarmUserNotes_PostAsyncByuserNote","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded","application/bson"],"produces":["application/json"],"parameters":[{"name":"userNote","in":"body","required":true,"schema":{"$ref":"#/definitions/WriteAlarmUserNoteDto"}}],"responses":{"201":{"description":"Created","schema":{"type":"object"},"headers":{"Location":{"description":"Provides location for the added entity","type":"string","format":"string"}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/FourZeroZeroError"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/FourZeroOneError"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/FourZeroFourError"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/FiveZeroZeroError"}}}}},"/AlarmUserNotes/{id}":{"get":{"tags":["AlarmUserNotes"],"summary":"Get alarm user note","operationId":"AlarmUserNotes_GetAsyncByid","consumes":[],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the alarm user note","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Alarm entity response","schema":{"$ref":"#/definitions/ReadAlarmUserNoteDto"},"examples":{"application/json":[{"AlarmUserNoteId":2,"Message":"Leaking radiator pipe","AlarmSubtypeId":{"AlarmSubtypeId":2301},"Unit":{"UnitId":18}}]}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/FourZeroZeroError"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/FourZeroOneError"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/FourZeroFourError"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/FiveZeroZeroError"}}}},"delete":{"tags":["AlarmUserNotes"],"summary":"Delete alarm user note by id","operationId":"AlarmUserNotes_DeleteAsyncByid","consumes":[],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Id of entity to delete","required":true,"type":"integer","format":"int32"}],"responses":{"204":{"description":"No content","schema":{"type":"object"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/FourZeroZeroError"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/FourZeroOneError"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/FourZeroFourError"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/FiveZeroZeroError"}}}}},"/Data":{"get":{"tags":["Data"],"summary":"Get Data by AggregateType, UnitId and Timestamp","description":"It is required to filter by UnitId, AggregateType and at least one Timestamp. It's possible to filter by multiple timestamps to filter by a date range.","operationId":"Data_GetCollectionAsyncByqueryOptions","consumes":[],"produces":["application/json"],"parameters":[{"name":"orderby","in":"query","description":"<p><a href='#queryoptions'>Sorts</a> the result in ascending order by the supplied property.</p><p>Valid values are: <strong>Timestamp</strong> (default).</p><p>Note: <strong>orderby</strong> and <strong>orderbydesc</strong> are mutually exclusive.</p>","required":false,"type":"string","format":"string","default":"Timestamp"},{"name":"orderbydesc","in":"query","description":"<p><a href='#queryoptions'>Sorts</a> the result in descending order by the supplied property.</p><p>Valid values are: <strong>Timestamp</strong> (default).</p><p>Note: <strong>orderby</strong> and <strong>orderbydesc</strong> are mutually exclusive.</p>","required":false,"type":"string","format":"string"},{"name":"Timestamp","in":"query","description":"<p><a href=\"#queryoptions\">Filters</a> the result by Timestamp using the supplied operation and value.</p><p>Valid operations are: <strong>eq(datetime)</strong>, <strong>ge(datetime)</strong>, <strong>gt(datetime)</strong>, <strong>le(datetime)</strong>, <strong>lt(datetime)</strong></p>","required":true,"type":"array","items":{"type":"string","format":"filter","default":"ge(0001-01-01T12:00:00Z)"},"collectionFormat":"multi"},{"name":"UnitId","in":"query","description":"<p><a href=\"#queryoptions\">Filters</a> the result by UnitId using the supplied operation and value.</p><p>Valid operations are: <strong>eq(int)</strong></p>","required":true,"type":"string","format":"filter"},{"name":"AggregateType","in":"query","description":"<p><a href=\"#queryoptions\">Filters</a> the result by AggregateType using the supplied operation and value.</p><p>Valid operations are: <strong>eq(aggregatetype)</strong></p><p>aggregatetype = ['Raw', 'Minutes5', 'Hour', 'Day']</p>","required":true,"type":"string","format":"filter"},{"name":"top","in":"query","description":"<a href=\"#queryoptions\">Query paging</a> Returns the maximum number of entities. Default and max value is 10000","required":false,"type":"integer","format":"int32","default":10000,"maximum":10000,"minimum":1},{"name":"skip","in":"query","description":"<a href=\"#queryoptions\">Query paging</a> Skips this number of entities","required":false,"type":"integer","format":"int32","minimum":0}],"responses":{"200":{"description":"Data entities response","schema":{"type":"array","items":{"$ref":"#/definitions/ReadDataDto","title":"Data"}},"headers":{"Link":{"description":"Provides links to current, previous and next for Paged Responses. See the Query Options menu for more details.","type":"string","format":"string"},"X-Total-Count":{"description":"A Paged Response might only include some of the records. This provides the total number of records that exists.","type":"integer","format":"int32"}},"examples":{"application/json":[{"AccountId":3,"UnitId":21,"SensorId":1000006,"DataType":"current-a","AggregateType":"Hour","Timestamp":"2016-07-03T12:24:26.0743404Z","Value":43.2552160224}]}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/FourZeroZeroError"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/FourZeroOneError"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/FiveZeroZeroError"}}}},"post":{"tags":["Data"],"summary":"Insert Data","operationId":"Data_PostAsyncBydata","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded","application/bson"],"produces":["application/json"],"parameters":[{"name":"data","in":"body","description":"Collection of data points to insert","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/CreateDataDto"}}}],"responses":{"201":{"description":"Created","schema":{"type":"object"},"headers":{"Location":{"description":"Provides location for the added entity","type":"string","format":"string"}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/FourZeroZeroError"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/FourZeroOneError"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/FiveZeroZeroError"}}}}},"/DataTypes":{"get":{"tags":["DataTypes"],"summary":"Get DataTypes no permission is required","operationId":"DataTypes_GetCollection","consumes":[],"produces":["application/json"],"responses":{"200":{"description":"user entities response","schema":{"type":"array","items":{"$ref":"#/definitions/ReadDataTypeDto"}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/FourZeroZeroError"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/FourZeroOneError"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/FiveZeroZeroError"}}}}},"/Gateway":{"get":{"tags":["Gateways"],"summary":"Get all Gateways","operationId":"Gateways_GetCollectionAsyncByqueryOptions","consumes":[],"produces":["application/json"],"parameters":[{"name":"orderby","in":"query","description":"<p><a href='#queryoptions'>Sorts</a> the result in ascending order by the supplied property.</p><p>Valid values are: <strong>GatewayId</strong> (default), <strong>LastActivity</strong>, <strong>Name</strong>.</p><p>Note: <strong>orderby</strong> and <strong>orderbydesc</strong> are mutually exclusive.</p>","required":false,"type":"string","format":"string","default":"GatewayId"},{"name":"orderbydesc","in":"query","description":"<p><a href='#queryoptions'>Sorts</a> the result in descending order by the supplied property.</p><p>Valid values are: <strong>GatewayId</strong> (default), <strong>LastActivity</strong>, <strong>Name</strong>.</p><p>Note: <strong>orderby</strong> and <strong>orderbydesc</strong> are mutually exclusive.</p>","required":false,"type":"string","format":"string"},{"name":"Account.AccountId","in":"query","description":"<p><a href=\"#queryoptions\">Filters</a> the result by Account.AccountId using the supplied operation and value.</p><p>Valid operations are: <strong>eq(int)</strong></p>","required":false,"type":"string","format":"filter"},{"name":"top","in":"query","description":"<a href=\"#queryoptions\">Query paging</a> Returns the maximum number of entities. Default and max value is 10000","required":false,"type":"integer","format":"int32","default":10000,"maximum":10000,"minimum":1},{"name":"skip","in":"query","description":"<a href=\"#queryoptions\">Query paging</a> Skips this number of entities","required":false,"type":"integer","format":"int32","minimum":0}],"responses":{"200":{"description":"Gateway entities response","schema":{"type":"array","items":{"$ref":"#/definitions/ReadGatewayDto","title":"Gateway"}},"headers":{"Link":{"description":"Provides links to current, previous and next for Paged Responses. See the Query Options menu for more details.","type":"string","format":"string"},"X-Total-Count":{"description":"A Paged Response might only include some of the records. This provides the total number of records that exists.","type":"integer","format":"int32"}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/FourZeroZeroError"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/FourZeroOneError"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/FiveZeroZeroError"}}}},"post":{"tags":["Gateways"],"summary":"Create new Gateway","operationId":"Gateways_PostBynewGateway","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded","application/bson"],"produces":["application/json"],"parameters":[{"name":"newGateway","in":"body","description":"The entity to create","required":true,"schema":{"$ref":"#/definitions/CreateGatewayDto"}}],"responses":{"201":{"description":"Created","schema":{"type":"object"},"headers":{"Location":{"description":"Provides location for the added entity","type":"string","format":"string"}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/FourZeroZeroError"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/FourZeroOneError"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/FiveZeroZeroError"}}}}},"/Gateway/{id}":{"get":{"tags":["Gateways"],"summary":"Get Gateway by id","operationId":"Gateways_GetAsyncByid","consumes":[],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Id of entity to retrieve","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Gateway entity response","schema":{"$ref":"#/definitions/ReadGatewayDto"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/FourZeroZeroError"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/FourZeroOneError"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/FourZeroFourError"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/FiveZeroZeroError"}}}},"delete":{"tags":["Gateways"],"summary":"Delete Gateway by id","operationId":"Gateways_DeleteAsyncByid","consumes":[],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Id of entity to retrieve","required":true,"type":"integer","format":"int32"}],"responses":{"204":{"description":"No content","schema":{"type":"object"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/FourZeroZeroError"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/FourZeroOneError"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/FourZeroFourError"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/FiveZeroZeroError"}}}},"patch":{"tags":["Gateways"],"summary":"Updates a Gateway","operationId":"Gateways_PatchAsyncByidgateways","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded","application/bson"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the Gateway","required":true,"type":"integer","format":"int32"},{"name":"gateways","in":"body","description":"The changes to apply","required":true,"schema":{"$ref":"#/definitions/EditGatewayDto"}}],"responses":{"204":{"description":"No content","schema":{"type":"object"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/FourZeroZeroError"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/FourZeroOneError"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/FourZeroFourError"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/FiveZeroZeroError"}}}}},"/Roles":{"get":{"tags":["Roles"],"summary":"Get all Roles","operationId":"Roles_GetCollectionAsyncByqueryOptions","consumes":[],"produces":["application/json"],"parameters":[{"name":"orderby","in":"query","description":"<p><a href='#queryoptions'>Sorts</a> the result in ascending order by the supplied property.</p><p>Valid values are: <strong>RoleId</strong> (default), <strong>Name</strong>.</p><p>Note: <strong>orderby</strong> and <strong>orderbydesc</strong> are mutually exclusive.</p>","required":false,"type":"string","format":"string","default":"RoleId"},{"name":"orderbydesc","in":"query","description":"<p><a href='#queryoptions'>Sorts</a> the result in descending order by the supplied property.</p><p>Valid values are: <strong>RoleId</strong> (default), <strong>Name</strong>.</p><p>Note: <strong>orderby</strong> and <strong>orderbydesc</strong> are mutually exclusive.</p>","required":false,"type":"string","format":"string"},{"name":"top","in":"query","description":"<a href=\"#queryoptions\">Query paging</a> Returns the maximum number of entities. Default and max value is 10000","required":false,"type":"integer","format":"int32","default":10000,"maximum":10000,"minimum":1},{"name":"skip","in":"query","description":"<a href=\"#queryoptions\">Query paging</a> Skips this number of entities","required":false,"type":"integer","format":"int32","minimum":0}],"responses":{"200":{"description":"Roles entities response","schema":{"type":"array","items":{"$ref":"#/definitions/ReadRoleDto","title":"Role"}},"headers":{"Link":{"description":"Provides links to current, previous and next for Paged Responses. See the Query Options menu for more details.","type":"string","format":"string"},"X-Total-Count":{"description":"A Paged Response might only include some of the records. This provides the total number of records that exists.","type":"integer","format":"int32"}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/FourZeroZeroError"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/FiveZeroZeroError"}}}}},"/Roles/{role}":{"get":{"tags":["Roles"],"summary":"Get Role by name","operationId":"Roles_GetAsyncByrole","consumes":[],"produces":["application/json"],"parameters":[{"name":"role","in":"path","description":"name of role to retrieve","required":true,"type":"string","enum":["Administrator","User","ReadOnly"]}],"responses":{"200":{"description":"role entity response","schema":{"type":"array","items":{"$ref":"#/definitions/ReadRoleDto","title":"Role"}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/FourZeroZeroError"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/FourZeroOneError"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/FourZeroFourError"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/FiveZeroZeroError"}}}}},"/Sensors":{"get":{"tags":["Sensors"],"summary":"Get Sensors","operationId":"Sensors_GetCollectionAsyncByqueryOptions","consumes":[],"produces":["application/json"],"parameters":[{"name":"orderby","in":"query","description":"<p><a href='#queryoptions'>Sorts</a> the result in ascending order by the supplied property.</p><p>Valid values are: <strong>SensorId</strong> (default).</p><p>Note: <strong>orderby</strong> and <strong>orderbydesc</strong> are mutually exclusive.</p>","required":false,"type":"string","format":"string","default":"SensorId"},{"name":"orderbydesc","in":"query","description":"<p><a href='#queryoptions'>Sorts</a> the result in descending order by the supplied property.</p><p>Valid values are: <strong>SensorId</strong> (default).</p><p>Note: <strong>orderby</strong> and <strong>orderbydesc</strong> are mutually exclusive.</p>","required":false,"type":"string","format":"string"},{"name":"Account.AccountId","in":"query","description":"<p><a href=\"#queryoptions\">Filters</a> the result by Account.AccountId using the supplied operation and value.</p><p>Valid operations are: <strong>eq(int)</strong></p>","required":false,"type":"string","format":"filter"},{"name":"top","in":"query","description":"<a href=\"#queryoptions\">Query paging</a> Returns the maximum number of entities. Default and max value is 10000","required":false,"type":"integer","format":"int32","default":10000,"maximum":10000,"minimum":1},{"name":"skip","in":"query","description":"<a href=\"#queryoptions\">Query paging</a> Skips this number of entities","required":false,"type":"integer","format":"int32","minimum":0}],"responses":{"200":{"description":"Sensor entities response","schema":{"type":"array","items":{"$ref":"#/definitions/ReadSensorDto","title":"Sensor"}},"headers":{"Link":{"description":"Provides links to current, previous and next for Paged Responses. See the Query Options menu for more details.","type":"string","format":"string"},"X-Total-Count":{"description":"A Paged Response might only include some of the records. This provides the total number of records that exists.","type":"integer","format":"int32"}},"examples":{"application/json":[{"SensorId":1000042,"DataLastRecorded":"2018-09-20T15:04:35.6867602+00:00","IsUpdated":true,"SensorType":1,"Account":{"AccountId":3,"Name":"Demo","Address":"Demovej 42, 9999 Bykøbing","BillindAddress":"Demovej 42, 9999 Bykøbing","Deleted":false},"SensorActivities":[{"SensorId":1000042,"GatewayId":1000032,"LastActivity":"2018-09-20T15:04:35.6867602+00:00","ReceivedSignalStrengthIndication":-12,"LinkQualityIndication":3}]}]}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/FourZeroZeroError"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/FourZeroOneError"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/FiveZeroZeroError"}}}}},"/Sensors/{id}":{"get":{"tags":["Sensors"],"summary":"Get sensor","operationId":"Sensors_GetAsyncByid","consumes":[],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the sensor","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Alarm entity response","schema":{"$ref":"#/definitions/ReadSensorDto"},"examples":{"application/json":{"SensorId":1000042,"DataLastRecorded":"2018-09-20T15:04:35.6867602+00:00","IsUpdated":true,"SensorType":1,"Account":{"AccountId":3,"Name":"Demo","Address":"Demovej 42, 9999 Bykøbing","BillindAddress":"Demovej 42, 9999 Bykøbing","Deleted":false},"SensorActivities":[{"SensorId":1000042,"GatewayId":1000032,"LastActivity":"2018-09-20T15:04:35.6867602+00:00","ReceivedSignalStrengthIndication":-12,"LinkQualityIndication":3}]}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/FourZeroZeroError"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/FourZeroOneError"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/FourZeroFourError"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/FiveZeroZeroError"}}}},"delete":{"tags":["Sensors"],"summary":"Delete Sensor by id","operationId":"Sensors_DeleteAsyncByid","consumes":[],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Id of entity to retrieve","required":true,"type":"integer","format":"int32"}],"responses":{"204":{"description":"No content","schema":{"type":"object"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/FourZeroZeroError"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/FourZeroOneError"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/FourZeroFourError"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/FiveZeroZeroError"}}}},"patch":{"tags":["Sensors"],"summary":"Updates a Sensor","operationId":"Sensors_PatchAsyncByidsensor","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded","application/bson"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the sensor","required":true,"type":"integer","format":"int32"},{"name":"sensor","in":"body","description":"The changes to apply","required":true,"schema":{"$ref":"#/definitions/EditSensorDto"}}],"responses":{"204":{"description":"No content","schema":{"type":"object"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/FourZeroZeroError"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/FourZeroOneError"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/FourZeroFourError"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/FiveZeroZeroError"}}}}},"/Tags":{"get":{"tags":["Tags"],"summary":"Get all Tags","operationId":"Tags_GetCollectionAsyncByqueryOptions","consumes":[],"produces":["application/json"],"parameters":[{"name":"orderby","in":"query","description":"<p><a href='#queryoptions'>Sorts</a> the result in ascending order by the supplied property.</p><p>Valid values are: <strong>TagId</strong> (default), <strong>Text</strong>.</p><p>Note: <strong>orderby</strong> and <strong>orderbydesc</strong> are mutually exclusive.</p>","required":false,"type":"string","format":"string","default":"TagId"},{"name":"orderbydesc","in":"query","description":"<p><a href='#queryoptions'>Sorts</a> the result in descending order by the supplied property.</p><p>Valid values are: <strong>TagId</strong> (default), <strong>Text</strong>.</p><p>Note: <strong>orderby</strong> and <strong>orderbydesc</strong> are mutually exclusive.</p>","required":false,"type":"string","format":"string"},{"name":"Account.AccountId","in":"query","description":"<p><a href=\"#queryoptions\">Filters</a> the result by Account.AccountId using the supplied operation and value.</p><p>Valid operations are: <strong>eq(int)</strong></p>","required":false,"type":"string","format":"filter"},{"name":"top","in":"query","description":"<a href=\"#queryoptions\">Query paging</a> Returns the maximum number of entities. Default and max value is 10000","required":false,"type":"integer","format":"int32","default":10000,"maximum":10000,"minimum":1},{"name":"skip","in":"query","description":"<a href=\"#queryoptions\">Query paging</a> Skips this number of entities","required":false,"type":"integer","format":"int32","minimum":0}],"responses":{"200":{"description":"Tag entities response","schema":{"type":"array","items":{"$ref":"#/definitions/ReadTagDto","title":"Tag"}},"headers":{"Link":{"description":"Provides links to current, previous and next for Paged Responses. See the Query Options menu for more details.","type":"string","format":"string"},"X-Total-Count":{"description":"A Paged Response might only include some of the records. This provides the total number of records that exists.","type":"integer","format":"int32"}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/FourZeroZeroError"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/FourZeroOneError"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/FiveZeroZeroError"}}}}},"/Tags/{id}":{"get":{"tags":["Tags"],"summary":"Get Tag by id","operationId":"Tags_GetAsyncByid","consumes":[],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Id of entity to retrieve","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Tag entities response","schema":{"$ref":"#/definitions/ReadTagDto"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/FourZeroZeroError"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/FourZeroOneError"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/FourZeroFourError"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/FiveZeroZeroError"}}}}},"/Units":{"get":{"tags":["Units"],"summary":"Get all Units","operationId":"Units_GetCollectionAsyncByqueryOptions","consumes":[],"produces":["application/json"],"parameters":[{"name":"orderby","in":"query","description":"<p><a href='#queryoptions'>Sorts</a> the result in ascending order by the supplied property.</p><p>Valid values are: <strong>UnitId</strong> (default), <strong>Name</strong>.</p><p>Note: <strong>orderby</strong> and <strong>orderbydesc</strong> are mutually exclusive.</p>","required":false,"type":"string","format":"string","default":"UnitId"},{"name":"orderbydesc","in":"query","description":"<p><a href='#queryoptions'>Sorts</a> the result in descending order by the supplied property.</p><p>Valid values are: <strong>UnitId</strong> (default), <strong>Name</strong>.</p><p>Note: <strong>orderby</strong> and <strong>orderbydesc</strong> are mutually exclusive.</p>","required":false,"type":"string","format":"string"},{"name":"Account.AccountId","in":"query","description":"<p><a href=\"#queryoptions\">Filters</a> the result by Account.AccountId using the supplied operation and value.</p><p>Valid operations are: <strong>eq(int)</strong></p>","required":false,"type":"string","format":"filter"},{"name":"UnitType.UnitTypeId","in":"query","description":"<p><a href=\"#queryoptions\">Filters</a> the result by UnitType.UnitTypeId using the supplied operation and value.</p><p>Valid operations are: <strong>eq(int)</strong></p>","required":false,"type":"string","format":"filter"},{"name":"top","in":"query","description":"<a href=\"#queryoptions\">Query paging</a> Returns the maximum number of entities. Default and max value is 10000","required":false,"type":"integer","format":"int32","default":10000,"maximum":10000,"minimum":1},{"name":"skip","in":"query","description":"<a href=\"#queryoptions\">Query paging</a> Skips this number of entities","required":false,"type":"integer","format":"int32","minimum":0}],"responses":{"200":{"description":"Unit entities response","schema":{"type":"array","items":{"$ref":"#/definitions/ReadUnitDto","title":"Unit"}},"headers":{"Link":{"description":"Provides links to current, previous and next for Paged Responses. See the Query Options menu for more details.","type":"string","format":"string"},"X-Total-Count":{"description":"A Paged Response might only include some of the records. This provides the total number of records that exists.","type":"integer","format":"int32"}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/FourZeroZeroError"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/FourZeroOneError"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/FiveZeroZeroError"}}}},"post":{"tags":["Units"],"summary":"Create new Unit, WriteUnit permission required, Draft","operationId":"Units_PostAsyncByunit","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded","application/bson"],"produces":["application/json"],"parameters":[{"name":"unit","in":"body","description":"The entity to create","required":true,"schema":{"$ref":"#/definitions/CreateUnitDto"}}],"responses":{"201":{"description":"Created","schema":{"type":"object"},"headers":{"Location":{"description":"Provides location for the added entity","type":"string","format":"string"}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/FourZeroZeroError"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/FourZeroOneError"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/FourZeroFourError"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/FiveZeroZeroError"}}}}},"/Units/{id}":{"get":{"tags":["Units"],"summary":"Get Unit by id","operationId":"Units_GetAsyncByid","consumes":[],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Id of entity to retrieve","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Unit entity response","schema":{"$ref":"#/definitions/ReadUnitDto"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/FourZeroZeroError"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/FourZeroOneError"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/FourZeroFourError"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/FiveZeroZeroError"}}}},"delete":{"tags":["Units"],"summary":"Delete Unit by id, draft","operationId":"Units_DeleteAsyncByid","consumes":[],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Id of entity to delete","required":true,"type":"integer","format":"int32"}],"responses":{"204":{"description":"No content","schema":{"type":"object"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/FourZeroZeroError"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/FourZeroOneError"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/FourZeroFourError"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/FiveZeroZeroError"}}}},"patch":{"tags":["Units"],"summary":"Update a Unit, WriteUnit permission required, Draft","operationId":"Units_PatchAsyncByidunit","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded","application/bson"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id the entity to update","required":true,"type":"integer","format":"int32"},{"name":"unit","in":"body","description":"The entity to update","required":true,"schema":{"$ref":"#/definitions/EditUnitDto"}}],"responses":{"204":{"description":"No content","schema":{"type":"object"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/FourZeroZeroError"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/FourZeroOneError"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/FourZeroFourError"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/FiveZeroZeroError"}}}}},"/Units/{id}/Image":{"get":{"tags":["Units"],"summary":"Get Unit Image by UnitId, draft","operationId":"Units_GetImageAsyncByid","consumes":[],"produces":["application/json","image/bmp","image/jpeg","image/gif","image/png"],"parameters":[{"name":"id","in":"path","description":"Id of the unit entity","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Ok","schema":{"type":"file"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/FourZeroZeroError"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/FourZeroOneError"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/FourZeroFourError"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/FiveZeroZeroError"}}}},"put":{"tags":["Units"],"summary":"Add or replace Unit Image by UnitId, draft","operationId":"Units_PutImageAsyncByidfile","consumes":["multipart/form-data"],"parameters":[{"name":"id","in":"path","description":"Id of the unit entity","required":true,"type":"integer","format":"int32"},{"name":"file","in":"formData","description":"The image file to upload","required":true,"type":"file"}],"responses":{"201":{"description":"Created","schema":{"type":"object"},"headers":{"Location":{"description":"Provides location for the added entity","type":"string","format":"string"}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/FourZeroZeroError"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/FourZeroOneError"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/FourZeroFourError"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/FiveZeroZeroError"}}}},"delete":{"tags":["Units"],"summary":"Delete Unit Image by UnitId, draft","operationId":"Units_DeleteImageAsyncByid","consumes":[],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Id of the unit entity","required":true,"type":"integer","format":"int32"}],"responses":{"204":{"description":"No content","schema":{"type":"object"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/FourZeroZeroError"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/FourZeroOneError"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/FourZeroFourError"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/FiveZeroZeroError"}}}}},"/Units/{id}/Tag":{"post":{"tags":["Units"],"summary":"Creates the tag if it does not exist and adds a Tag reference to the unit, Draft","operationId":"Units_PostTagAsyncByidnewTag","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded","application/bson"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the Unit","required":true,"type":"integer","format":"int32"},{"name":"newTag","in":"body","description":"The tag to create or reference","required":true,"schema":{"$ref":"#/definitions/CreateTagDto"}}],"responses":{"201":{"description":"Created","schema":{"type":"object"},"headers":{"Location":{"description":"Provides location for the added entity","type":"string","format":"string"}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/FourZeroZeroError"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/FourZeroOneError"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/FourZeroFourError"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/FiveZeroZeroError"}}}},"delete":{"tags":["Units"],"summary":"Deletes the tag reference to the unit and deletes the Tag if it's not references by any unit, Draft","operationId":"Units_DeleteTagAsyncByidtag","consumes":[],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the entity to delete","required":true,"type":"integer","format":"int32"},{"name":"tag","in":"query","description":"The tag text to delete","required":true,"type":"string"}],"responses":{"204":{"description":"No content","schema":{"type":"object"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/FourZeroZeroError"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/FourZeroOneError"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/FourZeroFourError"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/FiveZeroZeroError"}}}}},"/Units/{id}/ResetAlarm/{alarmTypeId}":{"patch":{"tags":["Units"],"summary":"Resets the algoritm for a specific alarmsubtype and unit","description":"This option resets the unit behaviour used in the alarm algoritms and resets it by using the recent unit data and behaviour","operationId":"Units_ResetAlarmByidalarmTypeId","consumes":[],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Id of the unit","required":true,"type":"integer","format":"int32"},{"name":"alarmTypeId","in":"path","description":"Id of the alarm type","required":true,"type":"integer","format":"int32"}],"responses":{"204":{"description":"No content","schema":{"type":"object"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/FourZeroZeroError"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/FourZeroOneError"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/FourZeroFourError"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/FiveZeroZeroError"}}}}},"/Units/{id}/AlarmConfiguration/{key}":{"put":{"tags":["Units"],"summary":" Creates (or overwrites) the alarm configuration for an alarmtype and unit\r\n(Draft)","operationId":"Units_AlarmConfigurationAsyncByidkeyvalue","consumes":[],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the Unit","required":true,"type":"integer","format":"int32"},{"name":"key","in":"path","description":"Configuration key","required":true,"type":"string"},{"name":"value","in":"query","description":"Configuration value","required":false,"type":"string"}],"responses":{"201":{"description":"Created","schema":{"type":"object"},"headers":{"Location":{"description":"Provides location for the added entity","type":"string","format":"string"}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/FourZeroZeroError"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/FourZeroOneError"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/FourZeroFourError"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/FiveZeroZeroError"}}}}},"/Units/{id}/AlarmConfiguration":{"get":{"tags":["Units"],"summary":"Get the alarm configurations for an alarmtype and unit\r\n(Draft)","operationId":"Units_GetAlarmConfigurationAsyncByid","consumes":[],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the Unit","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Alarm configurations response","schema":{"type":"array","items":{"$ref":"#/definitions/ReadUnitAlarmConfigurationDto","title":"ReadUnitAlarmConfigurationDto"}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/FourZeroZeroError"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/FourZeroOneError"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/FourZeroFourError"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/FiveZeroZeroError"}}}}},"/UnitTypes":{"get":{"tags":["UnitTypes"],"summary":"Get all UnitTypes, no permission is required","operationId":"UnitTypes_GetCollectionAsyncByqueryOptions","consumes":[],"produces":["application/json"],"parameters":[{"name":"orderby","in":"query","description":"<p><a href='#queryoptions'>Sorts</a> the result in ascending order by the supplied property.</p><p>Valid values are: <strong>UnitTypeId</strong> (default), <strong>Name</strong>, <strong>Description</strong>.</p><p>Note: <strong>orderby</strong> and <strong>orderbydesc</strong> are mutually exclusive.</p>","required":false,"type":"string","format":"string","default":"UnitTypeId"},{"name":"orderbydesc","in":"query","description":"<p><a href='#queryoptions'>Sorts</a> the result in descending order by the supplied property.</p><p>Valid values are: <strong>UnitTypeId</strong> (default), <strong>Name</strong>, <strong>Description</strong>.</p><p>Note: <strong>orderby</strong> and <strong>orderbydesc</strong> are mutually exclusive.</p>","required":false,"type":"string","format":"string"},{"name":"top","in":"query","description":"<a href=\"#queryoptions\">Query paging</a> Returns the maximum number of entities. Default and max value is 10000","required":false,"type":"integer","format":"int32","default":10000,"maximum":10000,"minimum":1},{"name":"skip","in":"query","description":"<a href=\"#queryoptions\">Query paging</a> Skips this number of entities","required":false,"type":"integer","format":"int32","minimum":0}],"responses":{"200":{"description":"UnitType entities response","schema":{"type":"array","items":{"$ref":"#/definitions/ReadUnitTypeDto","title":"UnitType"}},"headers":{"Link":{"description":"Provides links to current, previous and next for Paged Responses. See the Query Options menu for more details.","type":"string","format":"string"},"X-Total-Count":{"description":"A Paged Response might only include some of the records. This provides the total number of records that exists.","type":"integer","format":"int32"}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/FourZeroZeroError"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/FourZeroOneError"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/FiveZeroZeroError"}}}}},"/UnitTypes/{id}":{"get":{"tags":["UnitTypes"],"summary":"Get UnitType by id, no permission is required","operationId":"UnitTypes_GetAsyncByid","consumes":[],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Id of entity to retrieve","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"UnitType entities response","schema":{"$ref":"#/definitions/ReadUnitTypeDto"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/FourZeroZeroError"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/FourZeroOneError"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/FourZeroFourError"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/FiveZeroZeroError"}}}}},"/Users":{"get":{"tags":["Users"],"summary":"Get users","operationId":"Users_GetCollectionAsyncByqueryOptions","consumes":[],"produces":["application/json"],"parameters":[{"name":"orderby","in":"query","description":"<p><a href='#queryoptions'>Sorts</a> the result in ascending order by the supplied property.</p><p>Valid values are: <strong>UserId</strong> (default), <strong>Name</strong>, <strong>Email</strong>.</p><p>Note: <strong>orderby</strong> and <strong>orderbydesc</strong> are mutually exclusive.</p>","required":false,"type":"string","format":"string","default":"UserId"},{"name":"orderbydesc","in":"query","description":"<p><a href='#queryoptions'>Sorts</a> the result in descending order by the supplied property.</p><p>Valid values are: <strong>UserId</strong> (default), <strong>Name</strong>, <strong>Email</strong>.</p><p>Note: <strong>orderby</strong> and <strong>orderbydesc</strong> are mutually exclusive.</p>","required":false,"type":"string","format":"string"},{"name":"Email","in":"query","description":"<p><a href=\"#queryoptions\">Filters</a> the result by Email using the supplied operation and value.</p><p>Valid operations are: <strong>eq(string)</strong></p>","required":false,"type":"string","format":"filter"},{"name":"Account.AccountId","in":"query","description":"<p><a href=\"#queryoptions\">Filters</a> the result by Account.AccountId using the supplied operation and value.</p><p>Valid operations are: <strong>eq(int)</strong></p>","required":false,"type":"string","format":"filter"},{"name":"top","in":"query","description":"<a href=\"#queryoptions\">Query paging</a> Returns the maximum number of entities. Default and max value is 10000","required":false,"type":"integer","format":"int32","default":10000,"maximum":10000,"minimum":1},{"name":"skip","in":"query","description":"<a href=\"#queryoptions\">Query paging</a> Skips this number of entities","required":false,"type":"integer","format":"int32","minimum":0}],"responses":{"200":{"description":"user entities response","schema":{"type":"array","items":{"$ref":"#/definitions/ReadUserDto"}},"headers":{"Link":{"description":"Provides links to current, previous and next for Paged Responses. See the Query Options menu for more details.","type":"string","format":"string"},"X-Total-Count":{"description":"A Paged Response might only include some of the records. This provides the total number of records that exists.","type":"integer","format":"int32"}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/FourZeroZeroError"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/FourZeroOneError"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/FiveZeroZeroError"}}}},"post":{"tags":["Users"],"summary":"Create a new user","operationId":"Users_PostBydto","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded","application/bson"],"produces":["application/json"],"parameters":[{"name":"dto","in":"body","description":"New user value","required":true,"schema":{"$ref":"#/definitions/WriteUserDto"}}],"responses":{"201":{"description":"Created","schema":{"type":"object"},"headers":{"Location":{"description":"Provides location for the added entity","type":"string","format":"string"}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/FourZeroZeroError"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/FourZeroOneError"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/FourZeroFourError"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/FiveZeroZeroError"}}}}},"/Users/{email}":{"get":{"tags":["Users"],"summary":"Get user","operationId":"Users_GetAsyncByemail","consumes":[],"produces":["application/json"],"parameters":[{"name":"email","in":"path","description":"The email of the user","required":true,"type":"string"}],"responses":{"200":{"description":"User entity response","schema":{"$ref":"#/definitions/ReadUserDto"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/FourZeroZeroError"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/FourZeroOneError"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/FourZeroFourError"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/FiveZeroZeroError"}}}},"patch":{"tags":["Users"],"summary":"Updates a user","operationId":"Users_PatchByemailuser","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded","application/bson"],"produces":["application/json"],"parameters":[{"name":"email","in":"path","description":"The email of the user","required":true,"type":"string"},{"name":"user","in":"body","description":"New user value","required":true,"schema":{"$ref":"#/definitions/WriteUserDto"}}],"responses":{"204":{"description":"No content","schema":{"type":"object"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/FourZeroZeroError"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/FourZeroOneError"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/FourZeroFourError"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/FiveZeroZeroError"}}}}},"/Users/{email}/ResetPassword":{"post":{"tags":["Users"],"summary":"Request a password reset. An email will be sent to the user, with instructions on how to reset his password.\r\nShould be used both when then user has forgotten his password and need to pick a new one, and when the user\r\nis newly invited, and the link in the invitation email has expired (or the email is lost)","operationId":"Users_ResetPasswordByemail","consumes":[],"produces":["application/json"],"parameters":[{"name":"email","in":"path","description":"The email of the user","required":true,"type":"string"}],"responses":{"202":{"description":"Accepted","schema":{"type":"object"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/FourZeroZeroError"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/FiveZeroZeroError"}}}}},"/Users/{email}/ResetEmail":{"post":{"tags":["Users"],"summary":"Request reset email. A verification email will be sent to the new email.","operationId":"Users_ResetEmailByemaildto","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded","application/bson"],"produces":["application/json"],"parameters":[{"name":"email","in":"path","description":"","required":true,"type":"string"},{"name":"dto","in":"body","description":"The users' new email","required":true,"schema":{"$ref":"#/definitions/NewEmailDto"}}],"responses":{"202":{"description":"Accepted","schema":{"type":"object"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/FourZeroZeroError"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/FiveZeroZeroError"}}}}},"/Users/{email}/CompleteRegistration":{"post":{"tags":["Users"],"summary":"Complete registration of a new user","operationId":"Users_CompleteRegistrationByemaildto","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded","application/bson"],"produces":["application/json"],"parameters":[{"name":"email","in":"path","description":"The email of the user","required":true,"type":"string"},{"name":"dto","in":"body","description":"The users' secret token, new name and new password","required":true,"schema":{"$ref":"#/definitions/CompleteUserRegistrationDto"}}],"responses":{"204":{"description":"No content","schema":{"type":"object"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/FourZeroZeroError"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/FourZeroFourError"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/FiveZeroZeroError"}}}}},"/Users/{email}/NewPassword":{"post":{"tags":["Users"],"summary":"Set a new password for a user, using a previously requested token (sent to user by email)","operationId":"Users_PasswordByemaildto","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded","application/bson"],"produces":["application/json"],"parameters":[{"name":"email","in":"path","description":"The email of the user","required":true,"type":"string"},{"name":"dto","in":"body","description":"The users' secret token and new password","required":true,"schema":{"$ref":"#/definitions/WriteNewPasswordDto"}}],"responses":{"204":{"description":"No content","schema":{"type":"object"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/FourZeroZeroError"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/FourZeroFourError"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/FiveZeroZeroError"}}}}},"/Users/NewEmail":{"post":{"tags":["Users"],"summary":"","operationId":"Users_NewEmailBydto","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded","application/bson"],"produces":["application/json"],"parameters":[{"name":"dto","in":"body","description":"The users' secret token","required":true,"schema":{"$ref":"#/definitions/WriteNewEmailDto"}}],"responses":{"204":{"description":"No content","schema":{"type":"object"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/FourZeroZeroError"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/FourZeroFourError"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/FiveZeroZeroError"}}}}}},"definitions":{"ReadAccountDto":{"required":["Name","Address","AccountId"],"type":"object","properties":{"AccountId":{"format":"int32","type":"integer"},"Name":{"type":"string"},"Address":{"type":"string"},"BillingAddress":{"type":"string"},"UserRoles":{"type":"array","items":{"$ref":"#/definitions/ReadUserRolesDto"}}}},"ReadUserRolesDto":{"type":"object","properties":{"User":{"$ref":"#/definitions/UserNoRefsDto"},"Roles":{"type":"array","items":{"type":"string"}}}},"UserNoRefsDto":{"required":["Name","Email","UserId","Created","Active"],"type":"object","properties":{"UserId":{"format":"int32","type":"integer"},"Name":{"type":"string"},"Email":{"type":"string"},"Created":{"format":"date-time","type":"string"},"Active":{"type":"boolean"}}},"WriteAccountDto":{"required":["Name","Address"],"type":"object","properties":{"Name":{"type":"string"},"Address":{"type":"string"},"BillingAddress":{"type":"string"}}},"WriteUserRoleDto":{"required":["Username","Role"],"type":"object","properties":{"Username":{"type":"string"},"Role":{"enum":["Administrator","User","ReadOnly"],"type":"string"}}},"ReadAlarmGroupDto":{"required":["Name","Account","AlarmGroupId"],"type":"object","properties":{"AlarmGroupId":{"format":"int32","type":"integer"},"Name":{"type":"string"},"Account":{"$ref":"#/definitions/AccountNoRefsDto"},"Units":{"type":"array","items":{"$ref":"#/definitions/UnitNoRefsDto"}},"AlarmSubscriptions":{"type":"array","items":{"$ref":"#/definitions/ReadAlarmSubscriptionDto"}},"AlarmExclusions":{"type":"array","items":{"$ref":"#/definitions/ReadAlarmExclusionDto"}}}},"AccountNoRefsDto":{"required":["Name","Address","AccountId"],"type":"object","properties":{"AccountId":{"format":"int32","type":"integer"},"Name":{"type":"string"},"Address":{"type":"string"},"BillingAddress":{"type":"string"}}},"UnitNoRefsDto":{"required":["Name","UnitId","DataInterval"],"type":"object","properties":{"UnitId":{"format":"int32","type":"integer"},"Name":{"type":"string"},"Description":{"type":"string"},"Latitude":{"format":"double","type":"number"},"Longitude":{"format":"double","type":"number"},"GpsAccuracy":{"format":"double","type":"number"},"DataInterval":{"enum":["Minute","Minutes5","Seconds20Boost"],"type":"string"}}},"ReadAlarmSubscriptionDto":{"required":["User","AlarmSubscriptionId","Subscribed"],"type":"object","properties":{"AlarmSubscriptionId":{"format":"int32","type":"integer"},"Subscribed":{"format":"date-time","type":"string"},"User":{"$ref":"#/definitions/UserNoRefsDto"},"FeedSeverity":{"enum":["Information","Trivial","Minor","Medium","Major","Critical"],"type":"string"},"EmailSeverity":{"enum":["Information","Trivial","Minor","Medium","Major","Critical"],"type":"string"}}},"ReadAlarmExclusionDto":{"required":["Excluded","AlarmType","AlarmExclusionId"],"type":"object","properties":{"AlarmExclusionId":{"format":"int32","type":"integer"},"Excluded":{"format":"date-time","type":"string"},"AlarmType":{"$ref":"#/definitions/AlarmTypeNoRefsDto"}}},"AlarmTypeNoRefsDto":{"required":["Name","Description","AlarmTypeId"],"type":"object","properties":{"AlarmTypeId":{"format":"int32","type":"integer"},"Name":{"type":"string"},"Description":{"type":"string"}}},"CreateAlarmGroupDto":{"required":["Name","Account"],"type":"object","properties":{"Name":{"type":"string"},"Account":{"$ref":"#/definitions/AccountIdDto"},"AlarmSubscriptions":{"type":"array","items":{"$ref":"#/definitions/CreateAlarmSubscriptionDto"}},"AlarmExclusions":{"type":"array","items":{"$ref":"#/definitions/WriteAlarmExclusionDto"}},"Units":{"type":"array","items":{"$ref":"#/definitions/UnitIdDto"}}}},"AccountIdDto":{"required":["AccountId"],"type":"object","properties":{"AccountId":{"format":"int32","type":"integer"}}},"CreateAlarmSubscriptionDto":{"required":["User"],"type":"object","properties":{"User":{"$ref":"#/definitions/UserIdDto"},"FeedSeverity":{"enum":["Information","Trivial","Minor","Medium","Major","Critical"],"type":"string"},"EmailSeverity":{"enum":["Information","Trivial","Minor","Medium","Major","Critical"],"type":"string"}}},"WriteAlarmExclusionDto":{"required":["AlarmType"],"type":"object","properties":{"AlarmType":{"$ref":"#/definitions/AlarmTypeIdDto"}}},"UnitIdDto":{"required":["UnitId"],"type":"object","properties":{"UnitId":{"format":"int32","type":"integer"}}},"UserIdDto":{"required":["UserId"],"type":"object","properties":{"UserId":{"format":"int32","type":"integer"}}},"AlarmTypeIdDto":{"required":["AlarmTypeId"],"type":"object","properties":{"AlarmTypeId":{"format":"int32","type":"integer"}}},"EditAlarmGroupDto":{"type":"object","properties":{"Name":{"type":"string"},"AlarmSubscriptions":{"type":"array","items":{"$ref":"#/definitions/EditAlarmSubscriptionDto"}},"AlarmExclusions":{"type":"array","items":{"$ref":"#/definitions/WriteAlarmExclusionDto"}},"Units":{"type":"array","items":{"$ref":"#/definitions/UnitIdDto"}}}},"EditAlarmSubscriptionDto":{"type":"object","properties":{"User":{"$ref":"#/definitions/UserIdDto"},"FeedSeverity":{"enum":["Information","Trivial","Minor","Medium","Major","Critical"],"type":"string"},"EmailSeverity":{"enum":["Information","Trivial","Minor","Medium","Major","Critical"],"type":"string"}}},"ReadAlarmDto":{"required":["AlarmSubtype","Unit","AlarmId","Created","State"],"type":"object","properties":{"AlarmId":{"format":"int32","type":"integer"},"Created":{"format":"date-time","type":"string"},"AutoResolved":{"format":"date-time","type":"string"},"Message":{"type":"string"},"AlarmSubtype":{"$ref":"#/definitions/ReadAlarmSubtypeDto"},"Unit":{"$ref":"#/definitions/UnitNoRefsDto"},"UserNote":{"type":"string"},"State":{"enum":["Unresolved","Reject","Solved","Reset","AutoResolved"],"type":"string"},"StateChanged":{"format":"date-time","type":"string"}}},"ReadAlarmSubtypeDto":{"required":["Name","Description","AlarmSubtypeId","Severity"],"type":"object","properties":{"AlarmSubtypeId":{"format":"int32","type":"integer"},"Name":{"type":"string"},"Description":{"type":"string"},"Severity":{"enum":["Information","Trivial","Minor","Medium","Major","Critical"],"type":"string"},"AlarmSolutions":{"type":"array","items":{"$ref":"#/definitions/AlarmSolutionNoRefDto"}}}},"AlarmSolutionNoRefDto":{"required":["AlarmSolutionId"],"type":"object","properties":{"AlarmSolutionId":{"format":"int32","type":"integer"},"Description":{"type":"string"}}},"EditAlarmDto":{"type":"object","properties":{"State":{"enum":["Unresolved","Reject","Solved","Reset","AutoResolved"],"type":"string"}},"example":{"State":"Solved"}},"ReadAlarmTypeDto":{"required":["Name","Description","AlarmTypeId"],"type":"object","properties":{"AlarmTypeId":{"format":"int32","type":"integer"},"Name":{"type":"string"},"Description":{"type":"string"},"AlarmSubtypes":{"type":"array","items":{"$ref":"#/definitions/ReadAlarmSubtypeDto"}},"UnitTypes":{"type":"array","items":{"$ref":"#/definitions/UnitTypeNoRefsDto"}}}},"UnitTypeNoRefsDto":{"required":["Name","UnitTypeId"],"type":"object","properties":{"UnitTypeId":{"format":"int32","type":"integer"},"Name":{"type":"string"},"Description":{"type":"string"}}},"ReadAlarmUserNoteDto":{"required":["Unit","AlarmSubtype","AlarmUserNoteId"],"type":"object","properties":{"AlarmUserNoteId":{"format":"int32","type":"integer"},"Message":{"type":"string"},"Unit":{"$ref":"#/definitions/UnitIdDto"},"AlarmSubtype":{"$ref":"#/definitions/AlarmSubtypeIdDto"}}},"AlarmSubtypeIdDto":{"required":["AlarmSubtypeId"],"type":"object","properties":{"AlarmSubtypeId":{"format":"int32","type":"integer"}}},"WriteAlarmUserNoteDto":{"required":["AlarmSubtype","Unit"],"type":"object","properties":{"AlarmSubtype":{"$ref":"#/definitions/AlarmSubtypeIdDto"},"Unit":{"$ref":"#/definitions/UnitIdDto"},"Message":{"type":"string"}}},"ReadDataDto":{"required":["DataType","AggregateType","UnitId","SensorId","Timestamp"],"type":"object","properties":{"AccountId":{"format":"int32","type":"integer"},"UnitId":{"format":"int32","type":"integer"},"SensorId":{"format":"int32","type":"integer"},"DataType":{"enum":["current","current-a","current-b","current-c","current-d","current-01","current-02","current-03","current-04","current-05","current-06","current-07","current-08","current-09","current-10","current-11","current-12","current-13","current-14","current-15","voltage","voltage-01","voltage-02","voltage-03","voltage-04","voltage-05","voltage-06","voltage-07","voltage-08","voltage-09","voltage-10","voltage-11","voltage-12","voltage-13","voltage-14","voltage-15","grid-frequency","power-active","power-reactive","accumulated-power-active","accumulated-power-active-01","accumulated-power-active-02","accumulated-power-active-03","accumulated-power-active-04","accumulated-power-active-05","accumulated-power-active-06","accumulated-power-active-07","accumulated-power-active-08","accumulated-power-active-09","accumulated-power-active-10","accumulated-power-active-11","accumulated-power-active-12","accumulated-power-active-13","accumulated-power-active-14","accumulated-power-active-15","accumulated-power-reactive","sampleinterval","uncalibrated","average-temperature","external-temperature-1","internal-temperature","external-temperature-2","external-temperature-3","external-temperature-4","external-temperature-5","external-temperature-6","external-temperature-7","raw-1","raw-2","raw-3","raw-4","raw-5","raw-6","raw-7","raw-8","flow","heat","time-consumption"],"type":"string"},"AggregateType":{"enum":["Raw","Minutes5","Hour","Day"],"type":"string"},"Timestamp":{"format":"date-time","type":"string"},"Value":{"format":"double","type":"number"},"Base":{"type":"string"}}},"CreateDataDto":{"required":["DataType","AggregateType","SensorId","Timestamp"],"type":"object","properties":{"SensorId":{"format":"int32","type":"integer"},"Timestamp":{"format":"date-time","type":"string"},"DataType":{"enum":["current","current-a","current-b","current-c","current-d","current-01","current-02","current-03","current-04","current-05","current-06","current-07","current-08","current-09","current-10","current-11","current-12","current-13","current-14","current-15","voltage","voltage-01","voltage-02","voltage-03","voltage-04","voltage-05","voltage-06","voltage-07","voltage-08","voltage-09","voltage-10","voltage-11","voltage-12","voltage-13","voltage-14","voltage-15","grid-frequency","power-active","power-reactive","accumulated-power-active","accumulated-power-active-01","accumulated-power-active-02","accumulated-power-active-03","accumulated-power-active-04","accumulated-power-active-05","accumulated-power-active-06","accumulated-power-active-07","accumulated-power-active-08","accumulated-power-active-09","accumulated-power-active-10","accumulated-power-active-11","accumulated-power-active-12","accumulated-power-active-13","accumulated-power-active-14","accumulated-power-active-15","accumulated-power-reactive","sampleinterval","uncalibrated","average-temperature","external-temperature-1","internal-temperature","external-temperature-2","external-temperature-3","external-temperature-4","external-temperature-5","external-temperature-6","external-temperature-7","raw-1","raw-2","raw-3","raw-4","raw-5","raw-6","raw-7","raw-8","flow","heat","time-consumption"],"type":"string"},"AggregateType":{"enum":["Raw","Minutes5","Hour","Day"],"type":"string"},"Value":{"format":"double","type":"number"}}},"ReadDataTypeDto":{"required":["Key"],"type":"object","properties":{"Key":{"type":"string"},"ValidSensorTypes":{"type":"array","items":{"type":"string"}},"Aggregations":{"type":"array","items":{"enum":["Raw","Minutes5","Hour","Day"],"type":"string"}},"Base":{"type":"string"}}},"ReadGatewayDto":{"required":["GatewayId","HasWifiConnection","HasEthernetConnection","HasMobileConnection","IsUpdated"],"type":"object","properties":{"GatewayId":{"format":"int32","type":"integer"},"Name":{"type":"string"},"HasWifiConnection":{"type":"boolean"},"HasEthernetConnection":{"type":"boolean"},"HasMobileConnection":{"type":"boolean"},"WifiSignalStrength":{"format":"int32","type":"integer"},"MobileSignalStrength":{"format":"int32","type":"integer"},"IsUpdated":{"type":"boolean"},"Account":{"$ref":"#/definitions/AccountNoRefsDto"},"LastActivity":{"format":"date-time","type":"string"},"RegistrationDate":{"format":"date-time","type":"string"},"WifiSSID":{"type":"string"},"SensorActivities":{"type":"array","items":{"$ref":"#/definitions/GatewayActivitiesNoRefsDto"}},"Latitude":{"format":"double","type":"number"},"Longitude":{"format":"double","type":"number"},"LocationAccuracy":{"format":"double","type":"number"}}},"GatewayActivitiesNoRefsDto":{"required":["SensorId","GatewayId","SensorType","LastActivity"],"type":"object","properties":{"SensorId":{"format":"int32","type":"integer"},"GatewayId":{"format":"int32","type":"integer"},"SensorType":{"enum":["AccessPoint","PowerMoniSpot","PowerMoniProC","FlowMoniSpot","FlowMoniPro","HeatMoniSpot","HeatMoniPro","TempMoniPro","RoomMoniSpot","RoomMoniPro","DataMoni"],"type":"string"},"LastActivity":{"format":"date-time","type":"string"},"ReceivedSignalStrengthIndication":{"format":"int32","type":"integer"},"LinkQualityIndication":{"format":"int32","type":"integer"}}},"CreateGatewayDto":{"required":["Account","RfuId"],"type":"object","properties":{"Name":{"type":"string"},"WifiSSID":{"type":"string"},"WifiPassword":{"type":"string"},"RfuId":{"format":"int32","type":"integer"},"Latitude":{"format":"double","type":"number"},"Longitude":{"format":"double","type":"number"},"LocationAccuracy":{"format":"double","type":"number"},"Account":{"$ref":"#/definitions/AccountIdDto"}}},"EditGatewayDto":{"type":"object","properties":{"Name":{"type":"string"},"WifiSSID":{"type":"string"},"WifiPassword":{"type":"string"},"Latitude":{"format":"double","type":"number"},"Longitude":{"format":"double","type":"number"},"LocationAccuracy":{"format":"double","type":"number"}},"example":{"Name":"powerReMoni","WifiSSID":0,"WifiPassword":0.0,"Latitude":1.0,"Longitude":1.0,"LocationAccuracy":1.0}},"ReadRoleDto":{"required":["RoleId"],"type":"object","properties":{"RoleId":{"format":"int32","type":"integer"},"Name":{"type":"string"},"Permissions":{"type":"array","items":{"$ref":"#/definitions/ReadPermissionDto"}}}},"ReadPermissionDto":{"required":["PermissionId"],"type":"object","properties":{"PermissionId":{"format":"int32","type":"integer"},"Name":{"type":"string"}}},"ReadSensorDto":{"required":["SensorType","SensorId","IsConfigured"],"type":"object","properties":{"SensorId":{"format":"int32","type":"integer"},"DataLastRecorded":{"format":"date-time","type":"string"},"IsConfigured":{"type":"boolean"},"SensorType":{"enum":["AccessPoint","PowerMoniSpot","PowerMoniProC","FlowMoniSpot","FlowMoniPro","HeatMoniSpot","HeatMoniPro","TempMoniPro","RoomMoniSpot","RoomMoniPro","DataMoni"],"type":"string"},"Account":{"$ref":"#/definitions/AccountNoRefsDto"},"SensorActivities":{"type":"array","items":{"$ref":"#/definitions/SensorActivitiesNoRefsDto"}},"UnitValues":{"type":"array","items":{"$ref":"#/definitions/ReadSensorUnitValueDto"}},"CalibrationConstant":{"format":"double","type":"number"},"CalibrationType":{"enum":["Power","Current","AutoCurrent"],"type":"string"}}},"SensorActivitiesNoRefsDto":{"required":["SensorId","LastActivity"],"type":"object","properties":{"SensorId":{"format":"int32","type":"integer"},"GatewayId":{"format":"int32","type":"integer"},"LastActivity":{"format":"date-time","type":"string"},"ReceivedSignalStrengthIndication":{"format":"int32","type":"integer"},"LinkQualityIndication":{"format":"int32","type":"integer"}}},"ReadSensorUnitValueDto":{"required":["Unit","UnitValueId","UnitTypeFieldId"],"type":"object","properties":{"UnitValueId":{"format":"int32","type":"integer"},"UnitTypeFieldId":{"format":"int32","type":"integer"},"Unit":{"$ref":"#/definitions/UnitNoRefsDto"}}},"EditSensorDto":{"type":"object","properties":{"CalibrationConstant":{"format":"double","type":"number"},"CalibrationType":{"enum":["Power","Current"],"type":"string"}},"example":{"CalibrationConstant":1.2,"CalibrationType":"Power"}},"ReadTagDto":{"required":["Text","Account","TagId"],"type":"object","properties":{"TagId":{"format":"int32","type":"integer"},"Text":{"type":"string"},"Account":{"$ref":"#/definitions/AccountNoRefsDto"},"Units":{"type":"array","items":{"$ref":"#/definitions/UnitNoRefsDto"}}}},"ReadUnitDto":{"required":["Name","DataInterval","Account","UnitType","UnitId"],"type":"object","properties":{"UnitId":{"format":"int32","type":"integer"},"Name":{"type":"string"},"Description":{"type":"string"},"Latitude":{"format":"double","type":"number"},"Longitude":{"format":"double","type":"number"},"GpsAccuracy":{"format":"double","type":"number"},"ImageHash":{"format":"int32","type":"integer"},"DataInterval":{"enum":["Minute","Minutes5","Seconds20Boost"],"type":"string"},"UnitValues":{"type":"array","items":{"$ref":"#/definitions/ReadUnitValueDto"}},"Account":{"$ref":"#/definitions/AccountNoRefsDto"},"UnitType":{"$ref":"#/definitions/UnitTypeNoRefsDto"},"Tags":{"type":"array","items":{"$ref":"#/definitions/TagNoRefsDto"}},"AlarmGroups":{"type":"array","items":{"$ref":"#/definitions/AlarmGroupNoRefsDto"}}}},"ReadUnitValueDto":{"required":["UnitValueId"],"type":"object","properties":{"UnitValueId":{"format":"int32","type":"integer"},"UnitTypeField":{"$ref":"#/definitions/ReadUnitTypeFieldDto"},"Sensor":{"$ref":"#/definitions/SensorNoRefsDto"}}},"TagNoRefsDto":{"required":["Text","TagId"],"type":"object","properties":{"TagId":{"format":"int32","type":"integer"},"Text":{"type":"string"}}},"AlarmGroupNoRefsDto":{"required":["Name","AlarmGroupId"],"type":"object","properties":{"AlarmGroupId":{"format":"int32","type":"integer"},"Name":{"type":"string"}}},"ReadUnitTypeFieldDto":{"required":["Name","UnitTypeFieldId"],"type":"object","properties":{"UnitTypeFieldId":{"format":"int32","type":"integer"},"Description":{"type":"string"},"Name":{"type":"string"},"SensorType":{"enum":["AccessPoint","PowerMoniSpot","PowerMoniProC","FlowMoniSpot","FlowMoniPro","HeatMoniSpot","HeatMoniPro","TempMoniPro","RoomMoniSpot","RoomMoniPro","DataMoni"],"type":"string"}}},"SensorNoRefsDto":{"required":["SensorId","IsConfigured","SensorType"],"type":"object","properties":{"SensorId":{"format":"int32","type":"integer"},"DataLastRecorded":{"format":"date-time","type":"string"},"IsConfigured":{"type":"boolean"},"SensorType":{"enum":["AccessPoint","PowerMoniSpot","PowerMoniProC","FlowMoniSpot","FlowMoniPro","HeatMoniSpot","HeatMoniPro","TempMoniPro","RoomMoniSpot","RoomMoniPro","DataMoni"],"type":"string"},"CalibrationConstant":{"format":"double","type":"number"},"CalibrationType":{"enum":["Power","Current","AutoCurrent"],"type":"string"}}},"CreateUnitDto":{"required":["DataInterval"],"type":"object","properties":{"Name":{"type":"string"},"Description":{"type":"string"},"Latitude":{"format":"double","type":"number"},"Longitude":{"format":"double","type":"number"},"GpsAccuracy":{"format":"double","type":"number"},"DataInterval":{"enum":["Minute","Minutes5","Seconds20Boost"],"type":"string"},"UnitValues":{"type":"array","items":{"$ref":"#/definitions/WriteUnitValueDto"}},"Account":{"$ref":"#/definitions/AccountIdDto"},"UnitType":{"$ref":"#/definitions/UnitTypeIdDto"}}},"WriteUnitValueDto":{"type":"object","properties":{"Index":{"format":"int32","type":"integer"},"UnitTypeField":{"$ref":"#/definitions/UnitTypeFieldIdDto"},"Sensor":{"$ref":"#/definitions/SensorIdDto"}}},"UnitTypeIdDto":{"required":["UnitTypeId"],"type":"object","properties":{"UnitTypeId":{"format":"int32","type":"integer"}}},"UnitTypeFieldIdDto":{"required":["UnitTypeFieldId"],"type":"object","properties":{"UnitTypeFieldId":{"format":"int32","type":"integer"}}},"SensorIdDto":{"required":["SensorId"],"type":"object","properties":{"SensorId":{"format":"int32","type":"integer"}}},"EditUnitDto":{"type":"object","properties":{"Name":{"type":"string"},"Description":{"type":"string"},"Latitude":{"format":"double","type":"number"},"Longitude":{"format":"double","type":
[...]
